*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;
    /* height: 500px; */
    /* background: #f1f1f1; */
    margin: 100px auto 0;
    word-break: break-all;
    /* border: 1px solid rgba(0, 0, 0, 0.274); */
  }

  .scroll{
    height: 100%; 
    overflow: hidden; 
  }
  
  .bloc-tabs {
    display: flex;
    /* margin-left: 140px; */
  }
  .tabs {
  
    padding: 15px;
    text-align: center;
    width: 50%;
    /* background: rgba(128, 128, 128, 0.075); */
    cursor: pointer;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  /* .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  } */
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #EDC218;
  }
  
  
  
  button {
    border: none;
    
  }
  .content-tabs {
    flex-grow : 1;
    /* margin-left: 110px; */
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }

  .transactionContainer{
    display: flex;
    /* opacity: 0.5; */
  }

  .transactionContainer .logo{
      flex-grow: 0;
      height: 20px;
      width: 20px;
  }
  .transactionContainer .amount{
    flex-grow: 0;
    margin-left: 10px;
    font-size: 12px;
}
.transactionContainer .description{
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    
}
.transactionContainer .created{
    flex-grow: 0;
    font-size: 12px;
    
}
.transactionContainer .button{
    flex-grow: 0;
    font-size: 12px;
    margin-left: 15px;
    
}

@media screen and (max-width:450px){
    .bloc-tabs {
        flex-direction: column;
        display: none;
      }
      .transactionContainer .amount{
        flex-grow: 0;
        margin-left: 12px;
        font-size: 14px;
        width: 50px;
    }
    .transactionContainer .created{
        display: none;
        
    }
    .transactionContainer .button{
        flex-grow: 0;
        /* font-size: 12px; */
        margin-left: 8px;

        
    }
    /* .transactionContainer .button{
        display: none;
        
    } */
    .transactionContainer .description{
        flex-grow: 1;
        text-align: left;
        font-size: 13px;
        width: 15px;
        
    }
    .content{
      background: none;
      /* padding: 20px;
      width: 100%;
      height: 100%;
      display: none; */
    }
}

