/** @format */

.navbar {
	background-color: #fffcf0;
	height: 80px;
	display: flex;
	/* margin-left: 4px; */
	justify-content: start;
	align-items: center;
	position: absolute;
}

.menu-bars {
	margin-left: 2rem;
	font-size: 2rem;
	background: none;
}

.nav-menu {
	background-color: hsl(240, 33%, 99%);
	/* background-color: aqua; */
	/* background: rgba(76, 175, 80, 0.3); */
	width: 350px;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	margin-left: 10px;
	top: 0;
	left: -100%;
	transition: 850ms;
	opacity: 1;
}

.nav-menu.active {
	left: 0;
	transition: 350ms;
}

.nav-text {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 8px 0px 8px 16px;
	list-style: none;
	height: 60px;
}

.nav-text a {
	/* background-color: aqua; */
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	width: 95%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-radius: 4px;
}

.nav-text a:hover {
	background-color: #fffcf0;
}

.nav-menu-items {
	width: 100%;
}

.navbar-toggle {
	background-color: #fffcf0;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: start;
	align-items: center;
}

span {
	margin-left: 16px;
}

@media screen and (max-width: 450px) {
	.navbar {
		background-color: #fffcf0;
		width: 20px;
		height: 80px;
		display: flex;
		/* margin-left: 4px; */
		justify-content: start;
		align-items: center;
		position: absolute;
		z-index: 10;
	}
}
